section.headline{
	background-color: #fff;
	padding: 100px 0;
	.ins-wrap{
		max-width: 685px;
		text-align: center;
	}
	h3{
		color: @color_bluedark;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 23px;
	}
	p{
		font-size: 17px; font-weight: 400;
		color: #7f7f7f;  margin-bottom: 0;
	}
	clear: both;
}

.fly-floatmissal{
	position: fixed;
	top: 200px;
	right: 0px;
	width: 100%;
	height: 1px;
	.ins_right{
		display: block;
		text-align: right;
		position: relative;
		right: -10px;
		a:hover,
		a:focus{
			img{
				opacity: 0.9;
			}
		}
	}
	z-index: 260;
}
 
@media (max-width: 767px) {
	
	.fly-floatmissal{
		top: 130px;
		right: 0;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData.missal_data .items .info h4.title {
	    font-size: 0.9em;
	}

}