header.header.homepages{
	// width: 100%;
	// top: 0px;
	// position: fixed !important;
	// -webkit-transform: translateZ(0); 
	// transform: translate3d(0,0,0); 
}
header.header.sticky-top.homepages{
	position: -webkit-sticky;
    position: sticky;
}
header.header{
	// background-image: url('@{images}/background-header.png');
	background-color: #fff;
	min-height: 110px; height: 100px; 
	.tops_heads_grey{
		background-color: #f1f1f1;
		height: 44px;
		.buttons-contactn-head{
			a{
				background-color: #071d2e;
				font-family: @rubik;
				font-size: 14px; font-weight: 500; color: #fff;
				
				display: inline-block; text-align: center;
				vertical-align: middle;
				float: left;

				width: auto; 
				padding-left: 1.2rem; padding-right: 1.2rem;
				height: 44px;
				padding-top: 11px;
			}
			a:hover{
				text-decoration: none; color: #fff;
				background-color: #071d2e;
			}
			a.b_gold{
				background-color: #dd9918;
			}
			a.b_red{
				background-color: #812925;
			}
			float: right; 
			min-width: 490px;
			width: auto;
		}
	}

	.container{
		position: relative;
	}
	.menu-headers{
		padding-top: 1.2em;
		ul{
			list-style: none;
			padding: 0;
			li{
				padding: 0 7.5px;
				a{
					font-size: 14px; font-weight: 700; color: #7f7f7f;
				}
			}
			li:hover,
			li:focus,
			li.active{
				a{
					color: @red_dark;
					text-decoration: none;
				}
			}
		}
	}
	// border-bottom: 1px solid #ccc;
	clear: both;
}
.logo-headers{
	position: absolute;
	top: -10px; z-index: 2;
	left: 0px;
	a{
		max-width: 232px; display: block;
	}
}


.menu-header{
	padding-top: 70px;
	margin-bottom: 40px;
	ul.list-unstyled.list-inline{
		float: right;
		margin: 0 -10px;
		li.list-inline-item{
			font-family: @roboto;
			font-weight: 700;
			color: #fff;
			font-size: 11px;
			margin: 0 7px;
			a{
				color: #fff;
			}
			a:hover{
				color: #999;
				text-decoration: none;
			}
		}
	}
}