/*----------------- Responsive ---------------------*/
.carouselFslide .carousel-indicators li{
	height: 5px;
}
@media (max-width: 1620px){

}

@media screen and (max-width: 1280px) , screen and (max-width: 1450px) {

	.container{
		max-width: 100%;
		padding: 0 20px;
	}

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs h4{
		font-size: 2.6em;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs p{
		font-size: 1em;
	}
	section.headline{
		padding: 5em 0;
	}
	section.content4-col.blocks-banner-family-homes .block-texts{
		margin-right: 0;
	}

}

@media (max-width: 1200px){
	
	.wrapper{ margin: 0px; }

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption{
		padding-bottom: 5em;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs h4{
	    font-size: 2.4em;
	}
	section.content-2-col.blocks-home .lists-blocks-next-organize .items .info p{
		font-size: 0.9em;
	}
	section.content-2-col.blocks-home .mt-65{
		margin-top: 50px;
	}
	section.content-3-col.blocks-home p{
		font-size: 1em;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .info h4.title{
		font-size: 0.8em;
	}


	section.middles-footersn-whitegrey .contents dl dt{
		float: left;
		display: inline-block;
		width: 10px;
		max-width: inherit;
		flex: auto;
	}
	section.middles-footersn-whitegrey .contents dl dd{
		float: left;
		display: inline-block;
		font-size: 15px;
		width: 90%;
		max-width: inherit;
		flex: auto;
	}

}

/* Large desktop */
@media (max-width : 1135px){

}

/*(max-width : 1024px) and*/
@media (max-width: 1200px){
	
}

@media (max-width: 1135px){
	
	.menu-header ul.list-unstyled.list-inline li.list-inline-item{
		margin: 0 6px;
	}

	section.content4-col.blocks-banner-family-homes .block-texts h3{
		font-size: 30px;
	}
	section.content4-col.blocks-banner-family-homes .block-texts p{
		font-size: 12px;
		line-height: 1.3;
	}

}

@media (min-width : 1003px) {

}

@media (max-width : 1002px) {
		

}

@media (max-width: 992px) {

	header.header{
		background: none;
		min-height: inherit; height: auto;
	}

	.menu-header ul.list-unstyled.list-inline li.list-inline-item{
		margin: 0 4px;
	}
	.menu-header ul.list-unstyled.list-inline{
		margin: 0;
	}

	.menu-header{
		padding-top: 9px;
		margin-bottom: 40px;
		border-top: 2px solid #fff;
		margin-top: 32px;
		margin-left: 10px;
	}

	.navbar-brand{ 
		max-width: 195px; 
	}

	ul.navbar-nav{
		text-align: right;
		margin-left: 2.5em;
		padding-top: 0.9em;
		li:first-child{
			padding-left: 0;
		}
		li:last-child{
			padding-right: 0;
		}
		li{
			padding: 0 6px;
			a{
				font-size: 0.75em;
				color: #000;
			}
		}
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs h4 {
	    font-size: 2.1em;
	}
	section.headline h3{
		font-size: 1.6em;
	}
	section.headline p{
		font-size: 0.9em;
	}
	section.content-2-col.blocks-home .lists-blocks-next-organize .items .info p {
	    font-size: 0.7em;
	}
	section.content-2-col.blocks-home .lists-blocks-next-organize .items h5.sub-title{
		font-size: 0.9em;
	}
	.w980{
		width: auto;
	} 
	section.content-2-col.blocks-home{
		padding: 5em 0;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .info{
		padding: 1em 1.2em;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .blocks_s-detail a.bmores_event{
		font-size: 0.9em;
	}

	section.block-top-footer.content-col-7{
		min-height: inherit;
	}
	section.block-top-footer.content-col-7 .container{
		min-height: inherit; height: auto;
		padding-top: 9em;
		padding-bottom: 9em;
	}
	section.block-top-footer.content-col-7 .contents{
		padding-top: 0;
	}

	section.middles-footersn-whitegrey .contents ul li a{
		font-size: 13px;
	}
	section.middles-footersn-whitegrey .contents ul li{
		padding: 10px 0;
	}

	section.middles-footersn-whitegrey .contents dl dd{
		max-width: 80%;
		overflow: hidden;
	}

}

@media (max-width: 980px){
	


}

@media (max-width: 800px){
	
	section.content4-col.blocks-banner-family-homes .block-texts p{
		font-size: 10px;
		padding-bottom: 0;
	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		
}

@media (min-width: 768px){

}

@media (max-width: 768px){
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	header.header{
		background: none;
		padding-bottom: 1em;
	}
	.logo-header{
		position: relative; top: inherit; left: inherit;
		padding-top: 15px;
	}
	.menu-header{
		margin-top: 1em; margin-left: 0; margin-bottom: 0; 
		border-top-width: 1px; border-color: rgba(255, 255, 255, 0.6);
	}
	.menu-header ul.list-unstyled.list-inline{
		float: none;
	}
	footer.footer p{
		padding-top: 1.2em;
	}
	footer.footer p.float-right{
		float: none !important;
		padding-top: 0;
	}
	.hero-image{
		background: none !important; background-image: none; height: auto; background-size: inherit;
	}
	.content-detail-2-col .content-text{
		padding-top: 1em;
	}

	.content-text img,
	.content-text2 img{
		max-width: 100%;
	}
	.content-detail-2-col h1{
		font-size: 1.8em;
	}
	.content-1-col.content-inner1{
		padding-top: 0;
	}
	section.headline p.date{
		padding-top: 1.2em;
	}


	header.header{
		padding-bottom: 0;
	}
	section.headline {
	    padding: 3em 0;
	}

	section.content-2-col.blocks-home .items{
		margin-bottom: 2.3em;
	}
	.container{
		padding: 0 15px;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items{
		margin: 0 auto 1.8em;
	}
	.navbar-light .navbar-toggler{
		padding: 0px; border:0px;
	}

	ul.navbar-nav{
		margin-left: 0;
		text-align: left;
	}
	ul.navbar-nav li{
		padding: 5px 0;
		border-bottom: 1px solid #DCDCDC;
	}
	ul.navbar-nav li:last-child{
		border-bottom: 0;
	}
	ul.navbar-nav li a{
		font-size: 0.9em;
	}
	section.headline h3{
		font-size: 1.3em;
	}
	section.content-2-col.blocks-home h3{
		font-size: 2em;
	}
	section.block-top-footer.content-col-7 .container{
		background-position: center;
	}

	section.middles-footersn-whitegrey .back-grey, 
	section.middles-footersn-whitegrey .back-white,
	section.middles-footersn-whitegrey .back-white,
	section.middles-footersn-whitegrey{
		height: auto;
	}
	section.middles-footersn-whitegrey .contents{
		padding-top: 1.8em;
	}
	section.middles-footersn-whitegrey .contents h6.sub-titles{
		margin-bottom: 1.1em;
	}
	section.middles-footersn-whitegrey .pl-30{
		padding-left: 0;
	}
	section.middles-footersn-whitegrey .back-grey{
		padding: 2em 15px;
	}
	section.middles-footersn-whitegrey .contents ul{
		max-width: inherit;
	}

	section.middles-footersn-whitegrey{
		background: none; background-color: #fff;
	}
	footer.footer p{
		font-size: 10px;
	}
	section.middles-footersn-whitegrey .contents dl dd{
		padding-left: 0;
	}

	section.top-page-default.insides_pg .inners_content p, section.top-page-default.pg-about .inners_content p{
		font-size: 1.2em;
	}

	section.top-page-default.pg-about.defaults_bigstatic{
		min-height: inherit;
		padding: 10em 15px;
	}

	section.block-details-default.details-content .height-50{
		height: 25px;
	}
	section.block-details-default.details-content .breadcrumbs-block a.backs_t_page{
		padding-top: 1.1em;
		text-align: left !important;
	}

	section.content-1-col.blocks-contact-detail .inners-content p, section.content-1-col.blocks-events-detail.block-Details-eventsln .inners-content p, section.content-2-col.blocks-scform-contact .inners-content p,
	.content-text2 p{
		text-align: justify;
	}
	section.content-3-col.blocks-pages.sub-content-2 h3{
		font-size: 1.6em;
	}
	section.top-page-default.insides_pg .inners_content, 
	section.top-page-default.pg-about .inners_content{
		padding-left: 15px; padding-right: 15px;
	}
	section.top-page-default.insides_pg .inners_content h3, 
	section.top-page-default.pg-about .inners_content h3{
		font-size: 2.1em;
	}

	section.top-page-default.pg-step.defaults_bigstatic,
	section.top-page-default.pg-sacrament.defaults_bigstatic{
		min-height: inherit; height: auto;
		background-position: center;
	}

	section.top-page-default.insides_pg, section.top-page-default.pg-about{
		min-height: inherit; height: auto;
		padding: 16em 15px;
	}
	section.top-page-default.insides_pg, section.top-page-default.pg-about,
	section.top-page-default.insides_pg.pg_sacraments{
		background-repeat: no-repeat;
		background-size: cover;
		padding: 12em 15px;
	}
	header .navbar{
		padding-bottom: 0.6em; border-bottom: 1px solid #D6D5D5;
	}
	section.content-1-col.blocks-contact-detail h3, section.content-1-col.blocks-events-detail.block-Details-eventsln h3, section.content-2-col.blocks-scform-contact h3{
		font-size: 2em;
	}

	section.content-1-col.blocks-contact-detail .inners-content p{
		text-align: center;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .info h4.title{
		font-size: 0.6em;
	}

	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .blocks_s-detail{
		height: auto;
		padding-bottom: 0.3em;
		padding-left: 0px;
		text-align: right;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .blocks_s-detail a.bmores_event {
	    font-size: 0.7em;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .info span.catEvent{
		font-size: 0.8em; padding-bottom: 3px;
	}
	section.content-2-col.blocks-home.block-events-home .list-blocks-eventData .items .info span.dates{
		font-size: 9px; padding-bottom: 0;
	}

	section.content-2-col.blocks-home{
		padding: 4em 0;
	}
	section.content-1-col.blocks-home a.btns_defsl{
		font-size: 14px;
	}
	section.content4-col.blocks-banner-family-homes{
		background: none; background-color: #b1861f;
		padding-top: 0;
	}
	section.content4-col.blocks-banner-family-homes .block-texts{
		margin-right: 0;
		padding-top: 1.5em;
	}
	section.content4-col.blocks-banner-family-homes .block-texts h3{
		font-size: 2rem;
	}
	section.content4-col.blocks-banner-family-homes .block-texts p{
		font-size: 1.1em;
	}

	header.header{
		position: relative !important;
		top: inherit;
	}

	.blocks_lists_auto{
		display: block;
	}
	.blocks_lists_auto .lists{
		display: block; width: auto;
		max-width: 90%;
		margin: 0 auto;
	}
	section.content-3-col.blocks-home .box-videos{
		margin-bottom: 15px;
	}

	.fcs-wrapper.outers_fcs_wrapper, .fcs-wrapper.outers_fcs_wrapper #myCarousel_home,
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner{
		height: auto;
	}

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs h4{
		font-size: 1.7em;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs p {
	    font-size: 0.85em;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption{
		padding-bottom: 1em;
		left: 10%; right: 10%;
	}
	.w336{
		width: auto;
	}

	header.header.homepages,
	header.header{
		height: 79px;
		z-index: 150;
		top: inherit; 
	}
	header.header.homepages{
		position: relative !important;
		top: inherit;
		width: auto;
	}
	body, html{
		height: auto;
	}

	section.content4-col.blocks-banner-family-homes .carouselFslide .carousel-item .carousel-caption.boxsn-texts-inner{
		position: relative;
		width: auto;
		height: auto;
		top: inherit; right: inherit; border: 0px;
	}
	section.content4-col.blocks-banner-family-homes .block-texts{
		padding-top: 0;
	}
	section.content-1-col.blocks-home .lists-sntext-information .items{
		margin-bottom: 2.1em;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

@media (max-width: 358px) {
}