@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
// font-family: 'Rubik', sans-serif;  
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,400,700');
// font-family: 'Encode Sans', sans-serif;  
 
@images: "../images";
@roboto: 'Roboto', sans-serif;
@rubik: 'Rubik', sans-serif;
@encode: 'Encode Sans', sans-serif;
@color_bluedark_old: #071d2e;
@color_bluedark: #e3c47d; 
@red_dark: #be902a;
@red_dark_hover: #AF8424; 
 
@header-h3: {
	font-family: @rubik;
	font-size: 37px;
	font-weight: 500;
	color: @red_dark;
	margin-bottom: 20px; 
};

@shadows: {
  -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.31);
}; 
 
body{
	background-color: #fff;
  color: #595959;
  font-family: @rubik;
}

.container{
  max-width: 1389px; 
}

@media screen and (min-width: 1650px) {
  .container.width_less{
    max-width: 1745px;
  }
}

.container.width-980{
	max-width: 980px;
}

.line-grey{
	height: 1px;
	background-color: #828282;
}
.short-line-white{
	height: 3px; 
	width: 31px;
	background-color: #fff;
}

.generate-height(50);
.generate-height(@n, @i: 0) when (@i =< @n) {
  .height-@{i} {
    height: (1px * @i);
  }
  .margin-@{i} {
    margin: (1px * @i);
  }
  .margin-top-@{i} {
    margin-top: (1px * @i);
  }
  .margin-bottom-@{i} {
    margin-bottom: (1px * @i);
  }
  .margin-left-@{i} {
    margin-left: (1px * @i);
  }
  .margin-right-@{i} {
    margin-right: (1px * @i);
  }
  .margin-left-right-@{i} {
    margin-left: (1px * @i);
    margin-right: (1px * @i);
  }
  .padding-@{i} {
    padding: (1px * @i);
  }
  .padding-top-@{i} {
    padding-top: (1px * @i);
  }
  .padding-bottom-@{i} {
    padding-bottom: (1px * @i);
  }
  .padding-left-@{i} {
    padding-left: (1px * @i);
  }
  .padding-right-@{i} {
    padding-right: (1px * @i);
  }
  .padding-left-right-@{i} {
    padding-left: (1px * @i);
    padding-right: (1px * @i);
  }
  .generate-height(@n, (@i + 1));
}
.clear{
  clear: both;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.content-text2{
  color: #fff;
  font-size: 12px;
  h3{
    font-family: @rubik;
    font-size: 17px;
  }
  h4{
    font-size: 12px;
    font-weight: 700;
  }
  p{
    font-size: 10px;
    line-height: 1.5;
    color: #fff;
  }
  img{
    max-width: 100%;
  }
}
html{
  width: 100%;
  // height: 100%; 
}
body.background{
  // background-image: url('../images/background-landing.jpg');
  background-color: #000;
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  div{
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    display: table-cell;
    a{
      font-size: 12px;
      font-weight: 700;
      color: #fff;
    }
    a:hover{
      text-decoration: none;
      color: #fff;
    }
  }
}
@import "header.less"; 
@import "headline.less";
@import "featured.less"; 
@import "footer.less";

@import "about.less";
 
@import "event.less";
@import "sacraments.less";

@import "subpage.less"; 

.prelatife{
  position: relative;
}
span.inf_new{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  background-color: #e2c114;
  padding: 0.7rem 0.6rem;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50%;
  margin: 1rem;
}

.content-text{
  text-align: left;
  color: #fff;
  p{
    font-size: 10px;
    line-height: 1.5;
    color: #fff;
  }
  > h2{
    font-size: 17px;
    color: #fff;
  }
  > h3{
    font-size: 15px;
    color: #fff;
    text-align: left;
  }
  > h4{
    font-size: 13px;
    color: #fff;
  }
  > h5{
    font-size: 10px;
    color: #fff;
  }
}

.container_date{
  max-width: 1080px;
}
.maw130{
  max-width: 125px;
}

.table-out{
  display: table; width: 100%; height: 100%; vertical-align: middle; text-align: center;
  .table-in{
    display: table-cell; width: 100%; height: 100%; vertical-align: middle; text-align: center;
  }
}

.ws277{
  min-width: 277px; width: auto; 
}

html, body{
  // height: 100%;
}

.fcs-wrapper.outers_fcs_wrapper{
  height: 100%;
  #myCarousel_home{
    height: 100%;
    .carousel-inner{
      height: 100%;
    }
    .carousel-caption{
      padding-bottom: 12em;
      .bxsl_tx_fcs{
          h4,p{
            display: block; margin: 0; padding: 0;
            line-height: 1.3;
          }
          h4{
            font-size: 48px; font-weight: 500; color: #fff;
            margin-bottom: 15px;
          }
          p{
            font-size: 17px; font-weight: 400; color: #fff;
            margin-bottom: 20px;
          }
          a.customs_btn_fcs{
            display: block; text-align: center; margin: 0 auto; padding: 0;
            background: none; background-color: transparent; box-shadow: none; border-radius: 0px; border:0px;

            width: 222px; height: 56px; padding-top: 15px;
            background-color: @red_dark; color: #fff;
            -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
            -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.3);
            box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.3);
          }
      }
    }

    clear: both;
  }
  clear: both;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.d-inlines{
  display: inline-block; vertical-align: top;
}

.blocks_lists_auto{
  display: block; width: 100%; text-align: center; vertical-align: top;
  .lists{
    display: inline-block; 
    vertical-align: top;
    width: 33%;
    p{
      line-height: 1.2 !important;
    }
  }
}
.hide, .hidden,
.hide.hidden{
  display: none !important;
  opacity: 0; visibility: hidden;
}

@media (max-width: 600px) {

  section.content-1-col.blocks-home .lists-sntext-information .items{
      margin-bottom: 1.5em; 
  }
  section.content-1-col.blocks-home .lists-sntext-information .items .tops{
    // margin-bottom: 14px;
    padding-top: 1.5em;
    border-top: 1px solid #be902a;
    border-bottom: 0px;
    margin-bottom: 0px;
  }

  section.content-1-col.blocks-home .padding-top-45{
    padding-top: 15px;
  }

}