@rubik: 'Rubik', sans-serif;
@encode: 'Encode Sans', sans-serif; 

.block_tops_grey_mass{

	.inners_text{
		h2, p{
			display: block;
			margin: 0; padding: 0; line-height: 1.2;
		}
		h2{
			font-family: @rubik; 
			font-size: 36px; font-weight: 500; color: #812925;
			margin-bottom: 0rem;
		}
		p{
			font-family: @rubik; 
			font-size: 17px; font-weight: 400; color: #7f7f7f;
			display: block;
			line-height: 1.6;
			b,strong{
				font-weight: 700;
				color: #071d2e;
			}
		}

		.resutls_info_top{
			h2{
				font-size: 25px;
				font-weight: 500; color: #812925;
				font-family: @rubik;
			}
			p{
				font-family: @encode;
				text-transform: uppercase;
				color: #00304f; text-transform: uppercase; font-size: 13px; font-weight: 700;
				line-height: 2.2; letter-spacing: 1px;
			}
		}
		clear: both;
	}

	.blocks_form_tres{
 
		.inlines-form{
			form{
				input.form-control{
					border-radius: 0px; border: 0;
					min-width: 185px; 
					display: inline-block;
				}
				input.form-control.kode{
					min-width: 30px;
					width: 35px;
				}
				button.btn{
					border-radius: 0px;
					font-size: 14px; font-weight: 500; color: #fff;
					padding-left: 2.5rem; padding-right: 2.5rem;
					background-color: #071d2e;
				}
				button.btn.code_verify{
					display: block !important;
					margin: 1rem auto 0;
				}
				button.btn:hover,
				button.btn:focus{
					background-color: #011220; 
				}
				margin-bottom: 0;
			}
		}
		h2{
			font-size: 25px; font-weight: 500; color: #812925; text-transform: uppercase;
			display: block;
			margin-bottom: 1.5rem;
		}
		p{
			font-family: @encode; letter-spacing: 2px; text-transform: uppercase;
			font-size: 13px; font-weight: 700; color: #00304f;
		}

		.bx_start_over{
			.btn.btn-light{
				background-color: #dd9918;
				font-family: @rubik; font-weight: 500; color: #fff;
				padding: 0.8rem 2rem;
				border-radius: 0;
			}
		}
		clear: both;
	}

	.info_texts{
		h2{
			font-family: @rubik; 
			font-size: 36px; font-weight: 500; color: #812925;
			margin-bottom: 0rem;
		}
		p{
			font-family: @rubik; 
			font-size: 17px; font-weight: 400; color: #7f7f7f;
			display: block;
			line-height: 1.6;
			b,strong{
				font-weight: 700;
				color: #071d2e;
			}
		}
		clear: both;
	}

	background-color: #f1f1f1;
	clear: both;
}


.block_middle_white_mass{
	.inners_text{

	}
	background-color: #fff;
	.box-form-mass{
		.form-group{
			label{
				font-size: 11px; font-weight: 700; color: #00304f;
				letter-spacing: 1px; text-transform: uppercase;
				font-family: @encode;
				margin-bottom: 0.6rem;
			}
			input, textarea{
				font-family: @encode;
				font-size: 13px; font-weight: 400; color: #686868;
				border: 0px;
				border-radius: 0px;

				border-bottom: 1px solid #d7d7d7;
			}

			input{

			}
			textarea{

			}
			margin-bottom: 1.5rem;
			clear: both;
		}
		button.btn{
			background-color: #ec2327;
			padding-left: 3.5rem; padding-right: 3.5rem;

			font-family: @rubik; font-weight: 700; color: #fff; text-transform: uppercase;
			
			position: relative; z-index: 7;
			-webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.35);
			-moz-box-shadow:    2px 2px 6px 0px rgba(0, 0, 0, 0.35);
			box-shadow:         2px 2px 6px 0px rgba(0, 0, 0, 0.35);
			border: 0px;
			outline: none;
		}
		button.btn:hover,
		button.btn:focus{
			text-decoration: none;
			background-color: #BC0F12;
			color: #fff;
		}

		.pl-5{
			padding-left: 0 !important;
		}

		position: relative;
		margin: 0 auto;
		max-width: 650px;
	}

	.info_texts{
		h2{
			font-family: @rubik; 
			font-size: 36px; font-weight: 500; color: #812925;
			margin-bottom: 0rem;
		}
		p{
			font-family: @rubik; 
			font-size: 17px; font-weight: 400; color: #7f7f7f;
			display: block;
			line-height: 1.6;
			b,strong{
				font-weight: 700;
				color: #071d2e;
			}
		}
		clear: both;
	}

	.success_reg{
		h2{
			font-family: @rubik;
			font-size: 25px; font-weight: 500; color: #812925;
		}
		p{
			font-family: @encode;
			font-size: 13px; font-weight: 700; color: #00304f;
			line-height: 2.2;
			text-transform: uppercase;
		}
		p.grey{
			font-family: @rubik;
			font-size: 12px; font-weight: 500; color: #868686;
		}
	}

	background-color:#FFF;
	clear: both;
}

.thumbs_qrcode{
	img{
		max-width: 173px;
	}
}	

.mw480{
	max-width: 480px;
	text-align: left;
}
.mw480.alert{
	font-size: 13px;
	ul{
		margin-bottom: 0;
	}
}

.blocks_list_whatsnews{
	.lists{
		span.tops_date{
			display: block; margin: 0; padding: 0; line-height: 1;
			font-size: 13px; font-weight: 400; color: #7f7f7f;
		}
		h6 {
			display: block; margin: 0.2rem 0; padding: 0rem;
			font-size: 18px;
			font-weight: 700;
			color: #071d2e;
		}
		a.btns_link_info{
			display: block;
			margin: 0;
			padding: 0;
			font-size: 15px;
			font-weight: 500;
			color: #7f7f7f;
			text-align: left;;
		}
		background-color: #e5e5e5; 
	}
	
	text-align: left;
	max-width: 725px; 
	display: block;
	margin: 0 auto;
}   

a.btns_what {
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	z-index: 10;
	right: 3.8rem;
}