.block_tops_grey_mass {
  background-color: #f1f1f1;
  clear: both;
}
.block_tops_grey_mass .inners_text {
  clear: both;
}
.block_tops_grey_mass .inners_text h2,
.block_tops_grey_mass .inners_text p {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.block_tops_grey_mass .inners_text h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #812925;
  margin-bottom: 0rem;
}
.block_tops_grey_mass .inners_text p {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #7f7f7f;
  display: block;
  line-height: 1.6;
}
.block_tops_grey_mass .inners_text p b,
.block_tops_grey_mass .inners_text p strong {
  font-weight: 700;
  color: #071d2e;
}
.block_tops_grey_mass .inners_text .resutls_info_top h2 {
  font-size: 25px;
  font-weight: 500;
  color: #812925;
  font-family: 'Rubik', sans-serif;
}
.block_tops_grey_mass .inners_text .resutls_info_top p {
  font-family: 'Encode Sans', sans-serif;
  color: #00304f;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 1px;
}
.block_tops_grey_mass .blocks_form_tres {
  clear: both;
}
.block_tops_grey_mass .blocks_form_tres .inlines-form form {
  margin-bottom: 0;
}
.block_tops_grey_mass .blocks_form_tres .inlines-form form input.form-control {
  border-radius: 0px;
  border: 0;
  min-width: 185px;
  display: inline-block;
}
.block_tops_grey_mass .blocks_form_tres .inlines-form form input.form-control.kode {
  min-width: 30px;
  width: 35px;
}
.block_tops_grey_mass .blocks_form_tres .inlines-form form button.btn {
  border-radius: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #071d2e;
}
.block_tops_grey_mass .blocks_form_tres .inlines-form form button.btn.code_verify {
  display: block !important;
  margin: 1rem auto 0;
}
.block_tops_grey_mass .blocks_form_tres .inlines-form form button.btn:hover,
.block_tops_grey_mass .blocks_form_tres .inlines-form form button.btn:focus {
  background-color: #011220;
}
.block_tops_grey_mass .blocks_form_tres h2 {
  font-size: 25px;
  font-weight: 500;
  color: #812925;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.5rem;
}
.block_tops_grey_mass .blocks_form_tres p {
  font-family: 'Encode Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #00304f;
}
.block_tops_grey_mass .blocks_form_tres .bx_start_over .btn.btn-light {
  background-color: #dd9918;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 0;
}
.block_tops_grey_mass .info_texts {
  clear: both;
}
.block_tops_grey_mass .info_texts h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #812925;
  margin-bottom: 0rem;
}
.block_tops_grey_mass .info_texts p {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #7f7f7f;
  display: block;
  line-height: 1.6;
}
.block_tops_grey_mass .info_texts p b,
.block_tops_grey_mass .info_texts p strong {
  font-weight: 700;
  color: #071d2e;
}
.block_middle_white_mass {
  background-color: #fff;
  background-color: #FFF;
  clear: both;
}
.block_middle_white_mass .box-form-mass {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}
.block_middle_white_mass .box-form-mass .form-group {
  margin-bottom: 1.5rem;
  clear: both;
}
.block_middle_white_mass .box-form-mass .form-group label {
  font-size: 13px;
  font-weight: 700;
  color: #00304f;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Encode Sans', sans-serif;
  margin-bottom: 0;
}
.block_middle_white_mass .box-form-mass .form-group input,
.block_middle_white_mass .box-form-mass .form-group textarea {
  font-family: 'Encode Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #686868;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #d7d7d7;
}
.block_middle_white_mass .box-form-mass button.btn {
  background-color: #ec2327;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 7;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.35);
  border: 0px;
  outline: none;
}
.block_middle_white_mass .box-form-mass button.btn:hover,
.block_middle_white_mass .box-form-mass button.btn:focus {
  text-decoration: none;
  background-color: #BC0F12;
  color: #fff;
}
.block_middle_white_mass .info_texts {
  clear: both;
}
.block_middle_white_mass .info_texts h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #812925;
  margin-bottom: 0rem;
}
.block_middle_white_mass .info_texts p {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #7f7f7f;
  display: block;
  line-height: 1.6;
}
.block_middle_white_mass .info_texts p b,
.block_middle_white_mass .info_texts p strong {
  font-weight: 700;
  color: #071d2e;
}
.block_middle_white_mass .success_reg h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #812925;
}
.block_middle_white_mass .success_reg p {
  font-family: 'Encode Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #00304f;
  line-height: 2.2;
  text-transform: uppercase;
}
.block_middle_white_mass .success_reg p.grey {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #868686;
}
.thumbs_qrcode img {
  max-width: 173px;
}
.mw480 {
  max-width: 480px;
  text-align: left;
}
.mw480.alert {
  font-size: 13px;
}
.mw480.alert ul {
  margin-bottom: 0;
}
.blocks_list_whatsnews {
  text-align: left;
  max-width: 725px;
  display: block;
  margin: 0 auto;
}
.blocks_list_whatsnews .lists {
  background-color: #e5e5e5;
}
.blocks_list_whatsnews .lists span.tops_date {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 13px;
  font-weight: 400;
  color: #7f7f7f;
}
.blocks_list_whatsnews .lists h6 {
  display: block;
  margin: 0.2rem 0;
  padding: 0rem;
  font-size: 18px;
  font-weight: 700;
  color: #071d2e;
}
.blocks_list_whatsnews .lists a.btns_link_info {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  color: #7f7f7f;
  text-align: left;
}
a.btns_what {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  z-index: 10;
  right: 3.8rem;
}
